@model DogAdvisor.Web.ViewModels.Offers.OffersListViewModel
@{
    ViewData["Title"] = "Index";
}

<form method="get" asp-controller="Offers" asp-action="Index">
    <select asp-for="@Model.CategoryId" asp-items="@Model.Categories"></select>
    <input type="submit" />
</form>

<h1>Index</h1>

@foreach (var offer in Model.Offers)
{
    <a>@offer.Facility</a>
}

